table {
	font-family: Calibri;
	border-collapse: collapse;
	margin-top: 15px;
	margin: auto;
	border: 1px solid rgb(217, 217, 217);
}

th, td {
	border: 1px solid rgb(217, 217, 217);
}

td {
	width: 130px;
}

.row3 td {
	padding:5px;
}

.row1 {
	background-color: rgb(191, 191, 191);
	color:white;
	text-align: center;
}

.row2 {
	background-color: rgb(231, 230, 230);
	text-align: center;
}

.row3 {
	background-color: rgb(231, 230, 230); 
	height:170px;
}

input, textarea {
	background-color: rgb(231, 230, 230);
	font-family: Calibri;
	font-size: 16px;
	text-align: center;
	width:130px;
	border: 0;
	padding: 0;
	margin:0;
}

textarea {
	resize:none;
	height:60px;	
}

input:focus, textarea:focus {
	outline: none;
}

::placeholder {
	color:rgb(179,179,179);
}